@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


body{
    background-image: url('https://i.redd.it/l0cxejlvv3je1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-color: rgba(5, 1, 1, 0.364);
    background-blend-mode: darken;
}

.highlight:hover{
    color: rgb(245, 60, 60);
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}
.text{
    color: white;
    font-size: 4vw;
    text-align: center;
    font-family: 'Jersey 10', sans-serif;
    text-shadow: 1px 1px 50px rgb(0, 0, 0);
}

.project-desc{
    font-size: 2vw;
    text-align: center;
    font-family: 'Jersey 10', sans-serif;
    color: rgb(202, 200, 200);
}

.highlight{
    font-size: 4vw;
    text-align: center;
    font-family: 'Jersey 10', sans-serif;
    color: rgb(255, 136, 136);
}
